@media screen and (max-width: 1024px) {
    .block-text{
        margin-top: 50px;
    }
    .block-text h2{
        font-size: 56px;
        line-height: 60px;
    }
    .btn1 {
        font-size: 16px;   
        margin-top: 30px;
        padding: 14px 20px;
        width: 140px;
        height: 50px;
        margin-bottom: 40px;
    }
    .flex-txt44{
        margin-right: 10px;
    }
    .flex-txt44 h3{
        font-size: 30px;
    }
    .flex-txt44 p{
    font-size: 16px;
    }
    .navbar-list a{
        margin-right: 50px;
        font-size: 15px;
    }


    .fle4{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    .fle1{
        flex-direction: column;
    }
    #tvar{
        width: 200px;
    }
    .navbar{
        min-height: 100px;
    }
    .navbar-logo{
    font-size: 20px;
    }
    
    .navbar-list a{
    margin-right: 30px;
    font-size: 15px;
    }
    .navbar-list a:hover{
        font-size: 20px;
    }
    button{
        cursor: pointer;
    padding: 8px 12px;
    font-size: 12px;
    }
    
}



@media screen and (max-width: 425px) {
    .navbar{
        min-height: 90px;
    }
    .navbar-logo{
    font-size: 20px;
    }
    
    button{
    padding: 8px 12px;
    font-size: 12px;
    }

    /*sec1*/
    .fle1{
        min-height: 500px;
    }
    .block-text{
        margin-top: 10px;
        max-width: 100%;
    }
    .block-text h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .block-text p{
    font-size: 14px;
    line-height: 20px;
    }
    .btn1 {
        font-size: 15px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    }
    .flex-44{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .flex-txt44{
        margin-right: 15px;
    }
    .flex-txt44 h3{
        font-size: 23px;
    }
    .flex-txt44 p{
    font-size: 15px;
    }
    
    .block-img{
        width: 30%;
        margin-left: 0px;
    }
    

    /*sec2*/
    .fle2{
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .block-text2{
        margin-right: 0px;
    }
    .block-text2 h2{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .block-text2 p{
    font-size: 14px;
    }
    .block-text2 img{
        margin-left: 9px;
    }
    .block-img2 img{
        margin-right: 7px;
        max-width: 110px;
    }
    
    /*sec3*/
    .fle3{ 
        flex-direction: column;
        margin-bottom: 30px;
    }
    .block-img3{
        margin-right: 50px;
    }
    
    .block-text3 h1{
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
    }
    .block-text3 h2{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    }
    .block-text3 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    }
    .block-text3 h3{
        font-size: 15px;
        line-height: 20px;
    }
    .btn3{
        padding: 10px 10px;
        width: 100px;
        height: 40px;
        font-size: 14px;
        margin-top: 20px;
    }
    
    
    /*sec4*/
    .block-text4 h2{
    font-size: 30px;
    margin-bottom: 10px;
    }
    .bl-text4{
        display: flex;
        justify-content: center;
        width: 268px;
        margin: 10px auto;
    }
    .bl-text4 h5{
    font-size: 16px;
    margin-right: 24px;
    }
    .bl-text4 p{
    font-size: 15px;
    line-height: 18px;
    margin-right: 24px;
    }
    .kart1{
        width: 170px;
        height: 180px;
    }
    .kart2{
        width: 170px;
        height: 180px;
    }
    .kart3{
        width: 170px;
        height: 180px;
    }
    .kart4{
        width: 170px;
        height: 180px;
    }
    .r{
        width: 80px;
        height: 93px;
        margin-bottom: 3px;
    }
    .fle4 p{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .fle4 h5{
        font-size: 11px;
        margin-top: 3px;
    }
    .btn4{
        padding: 8px 10px;
        width: 110px;
        height: 40px;
        font-size: 14px;
        margin-top: 15px;
    }
    


    /*section5*/
    .fle5{
        flex-direction: column;
        min-height: 930px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .fle55{
        flex-direction: column;
        width: 55%;
    }
    .block-text5 h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .block-text5 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .fle555{
        flex-direction: column;
        height: 130px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 7px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
.fle5555{
    display: flex;
    flex-direction: row;
}
.block-img55{
    width: 40px;
height: 40px;
}
.block-text55{
    margin-left: 8px;
}
.block-text55 h5{
font-size: 16px;
margin-top: 5.5px;
}
.block-text55 p{
font-size: 13px;
margin-top: 6px;
}
.bl-text5 p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 18px;
}
.block-img5{
    width: 45%;
    margin-left: 0px;
}


}




@media screen and (max-width: 320px){
    .block-text{
        max-width: 100%;
    }
    .block-text h2{
        font-size: 30px;
        line-height: 30px;
    }
    .block-text p{
        font-size: 10px;
    }
    .btn1 {
        font-size: 10px;   
        margin-top: 10px;
        padding: 10px 10px;
        width: 80px;
        height: 40px;
        margin-bottom: 20px;
    }
    .flex-txt44{
        margin-right: 7px;
    }
    .flex-txt44 h3{
        font-size: 20px;
    }
    .flex-txt44 p{
    font-size: 10px;
    }
    .navbar-list a{
        margin-right: 30px;
        font-size: 10px;
    }

}