@media screen and (max-width: 1270px) {
    /*sec1
    .block-img{
        width: 50%;
        margin-left: 87px;
    }*/
    .block-text h2{
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 40px;
    }
    
    /*sec2*/
    .block-text2 img{
        margin-left: 20px;
    }
    .block-img2 img{
        margin-right: 7px;
        max-width: 150px;
    }

    /*sec7*/
    #neadaptirovan{
        display: none;
    }
    #durachok{
        display: none;
    }

        /*sec8*/
        .fle8{
            justify-content: space-between;
            width: auto;
        }
        .fle-nav{
            flex-direction: column;
            /*margin-right: 80px;*/
        }
        .fle-nav p{
            display: none;
            margin-right: 100px;
        }
        .fle-plants{
            width: auto;
            margin-right: 50px;
        }
        .fle81{
        margin-right: 0px;
        }
        .fle82{
            width: auto;
            margin-right: 0px;
        }
        .fle83{
            width: auto;
            margin-right: 0px;
        }
        .fle84{
            width: 100px;
        }
    
}



@media screen and (max-width: 1126px) {
    .block-text{
        margin-top: 50px;
    }
    /*sec5*
    .block-img5{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .block-img5 img{
        width: 80%;
    }*/

    /*sec5*/
    .fle5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .block-text5 p{
        margin-bottom: 30px;
    }
    .fle55{
        width: 70%;
    }
    .fle555{
        display: flex;
        flex-direction: column;
        padding-left: 31px;
        padding-right: 27px;
        padding-top: 18px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .block-img5{
        width: 70%;
    }

    /*sec4*/
    .fle4{
        justify-content: center;
    }

     /*sec5*/
     .block-img5{
        width: 40%;
        display: flex;
        align-items: center;
    }
    .block-img5 img{
        width: 100%;
    }
    /*sec6*
    .e6{
        width: auto;
        }
        .fon{
            width: 90%;
            height: 100%;
            }
            .fle6{
            width: 70%;
            height: auto;
            margin-top: 30px;
            margin-bottom: 40px;
            margin-left: 30px;
            }*/
}



@media screen and (max-width: 1024px) {
    .navbar{
        width: 97%;
    }
    .navbar-logo{
        font-size: 20px;
        }
        .navbar-list a{
        margin-right: 30px;
        font-size: 15px;
        }
        .navbar-list a:hover{
            font-size: 20px;
        }
        .navbar-list a{
            margin-right: 50px;
            font-size: 15px;
        }
    /*sec1*/
    .block-text{
        margin-top: 50px;
    }
    .block-text h2{
        font-size: 48px;
        line-height: 58px;
    }
    .btn1 {
        font-size: 16px;   
        margin-top: 30px;
        padding: 14px 20px;
        width: 140px;
        height: 50px;
        margin-bottom: 40px;
    }
    .flex-txt44{
        margin-right: 22px;
    }   

    /*sec2*/
    .fle2{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .block-text2{
        width: 600px;
        margin-right: 0px;
    }
    .block-text2 p{
        margin-bottom: 10px;
    }
    #arr{
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: 1s;
    }

    .fle4{
        display: flex;
        flex-direction: column;
    }

    /*sec3*/
    .fle3{
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .block-img3{
        margin-right: 60px;
    }
    #derevo{
        width: 100%;
    }

    /*sec6*/
    .e6{
        width: 930px;
        height: 356px;
    }
    .fon{
        height: 320px;
        width: 930px;
    }
    .img-abs{
        left: 650px;
    }
}



@media screen and (max-width: 1023px) {
    
}


@media screen and (max-width: 980px) {
    /*sec6*/
    .e6{
        width: auto;
        }
        .fon{
        width: auto;
        height: auto;
        }
        .fle6{
        width: 60%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: 30px;
        }
        .block-text6 p{
            margin-bottom: 20px;
        }
        .img-abs{
            top: -35px;
            left: 450px;
        }
        .input{
            padding: 6px 6px 6px 20px;
            min-width: 430px;
            min-height: 50px;
        }
        input {
            padding: 8px 8px 8px 20px;
            min-height: 50px;
        }
        .btn2 {
            padding: 10px 16px;
        }
    .block-text6 p{
        width: 90%;
    }
}



@media screen and (max-width: 768px) {
    .navbar{
        min-height: 100px;
    }
    button{
        cursor: pointer;
    padding: 8px 12px;
    font-size: 12px;
    }

    /*sec1*/
    #tvar{
        margin-top: 76px;
    }
    .btn1 {
        margin-bottom: 40px;
    }
    .block-img{
        margin-left: 20px;
    }
    .block-text h2{
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .flex-44{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .flex-txt44 h3{
        font-size: 30px;
        line-height: 39px;
    }
    .flex-txt44 p{
        font-size: 18px;
    }

    /*sec2*/
    .fle2{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .block-text2{
        margin-right: 0px;
    }
    .block-text2 h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .block-text2 p{
    font-size: 25px;
    margin-bottom: 20px;
    }
    .block-text2 img{
        margin-left: 15px;
    }
    .block-img2 img{
        margin-right: 7px;
        max-width: 200px;
    }

    /*sec3*/
    .fle3{ 
        justify-content: center;
        margin-bottom: 40px;
        align-items: center;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block-img3{
        display: none;
        margin-right: 0px;
        width: 0%;
    }
    .block-text3 {
        width: 83%;
    }
    .btn3{
        cursor: pointer;
        padding: 12px 22px;
        width: 140px;
        height: 50px;
        font-size: 16px;
        margin-top: 30px;
    }

    /*sec4*/
    .block-text4 h2{
        margin-bottom: 20px;
    }
    .bl-text4{
        margin: 30px auto;
    }

    /*sec5*/
    .block-img5{
        margin-left: 0px;
        width: 0px;
    }
    #mm{
        display: none;
    }

    /*sec7*/
    .fle7{
    margin-top: 50px;
    margin-bottom: 50px;
    }

    
}



@media screen and (max-width: 700px) {
    .navbar-list{
        display: none;
    }
    .btn11{
        display: none;
    }
    .img-menu{
        display: block;
        width: 40px;
    }

    /*sec1*/
    #tvar{
        display: none;
        width: 0px;
    }
    .block-img{
        width: 0%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .block-text{
        max-width: 90%;
        max-height: auto;
    }
    .flex-txt44{
        justify-content: space-between;
        max-width: 80%;
    }

    
    /*sec2*/
    .block-img2 img{
        max-width: 160px;
    }
    .block-text2{
        width: auto;
    }

    /*sec6*/
    .img-abs{
        display: none;
    }
    .fle6{
        width: 90%;
    }
    /*sec8*/
    .fle-plants{
        margin-right: 30px;
    }
}



@media screen and (max-width: 630px) {
    /*sec4*/
    .kart1{
        width: 190px;
        height: 200px
    }
    .kart2{
        width: 190px;
        height: 200px
    }
    .kart3{
        width: 190px;
        height: 200px
    }
    .kart4{
        width: 190px;
        height: 200px
    }
    .r{
        width: 100px;
        height: 113px;
        margin-bottom: 5px;
    }
    .fle4 p{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .fle4 h5{
        font-size: 11px;
        margin-top: 3px;
    }
}


@media screen and (max-width: 572px) {
    /*sec1*/
    .block-text{
        max-width: 100%;
    }
    /*sec2*/
    .block-img2 img{
        max-width: 110px;
    }
    /*sec3*/
    .fle3{ 
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .block-text3 h1{
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
    }
    .block-text3 h2{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    }
    .block-text3 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    }
    .block-text3 h3{
        font-size: 15px;
        line-height: 20px;
    }
    .btn3{
        padding: 10px 10px;
        width: 100px;
        height: 40px;
        font-size: 14px;
        margin-top: 20px;
    }
    /*sec5*/
    .fle5{
        justify-content: center;
        align-items: center;
        width: auto;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .fle55{
        width: 80%;
    }
    .fle555{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .block-img55{
        width: 60px;
        height: 60px;
    }
    .block-img55 img{
        width: 100%;
    }

    /*sec6*/
    .block-text6 h1{
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .block-text6 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .input{
        padding: 5px 5px 5px 15px;
        min-width: 300px;
        min-height: 40px;
        font-size: 14px;
    }
    input {
        padding: 5px 5px 5px 15px;
        min-height: 40px;
    }
    input::placeholder{
        font-size: 14px;
    }

    .btn2 {
        padding: 8px 2px;
        font-size: 12px;
        width: 70px;
        height: 40px;
    }

    /*sec7*/
    .fle7{
        margin-top: 0px;
    }
}


@media screen and (max-width: 460px) {
    /*sec4*/
    .kart1{
        width: 170px;
        height: 180px;
    }
    .kart2{
        width: 170px;
        height: 180px;
    }
    .kart3{
        width: 170px;
        height: 180px;
    }
    .kart4{
        width: 170px;
        height: 180px;
    }
    .r{
        width: 80px;
        height: 93px;
        margin-bottom: 3px;
    }
    .btn4{
        padding: 8px 10px;
        width: 110px;
        height: 40px;
        font-size: 14px;
        margin-top: 15px;
    }
    .couple{
        display: flex;
        gap: 14px;
    }

    /*sec8*/
        .fle8{
            margin-bottom: 80px;
            margin-top: 30px;
        }
        .fle-nav{
            display: none;
        }

}


@media screen and (max-width: 425px) {
    .navbar{
        min-height: 90px;
    }
    .navbar-logo{
    font-size: 20px;
    }

    /*sec1*/
    .fle1{
        min-height: /*350px*/ auto;
    }
    .block-text{
        margin-top: 10px;
    }
    .block-text h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .block-text p{
    font-size: 14px;
    line-height: 20px;
    }
    .btn1 {
        font-size: 15px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    }
    .flex-txt44{
        margin-right: 30px;
    }
    .flex-txt44 h3{
        font-size: 23px;
    }
    .flex-txt44 p{
    font-size: 15px;
    }

    /*sec2*/
    .fle2{
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .block-text2{
        width: 100%;
        margin-top: 10px;
    }
    .block-text2 h2{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .block-text2 p{
    font-size: 14px;
    }
    .block-text2 img{
        margin-left: 9px;
    }
    .block-img2 img{
        margin-right: 7px;
        max-width: 100px;
    }
    
    /*sec4*/
    .couple{
        gap: 8px;
    }
    .block-text4 h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .bl-text4{
        display: flex;
        justify-content: center;
        width: 268px;
        margin: 10px auto;
    }
    .bl-text4 h5{
    font-size: 16px;
    margin-right: 24px;
    }
    .bl-text4 p{
    font-size: 15px;
    line-height: 18px;
    margin-right: 24px;
    }

    /*sec5*/
    .fle5{
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .fle55{
        width: 100%;
    }
    .block-text5 h1{
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .block-text5 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .fle555{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .block-img55{
        width: 60px;
        height: 60px;
    }
    .block-img55 img{
        width: 100%;
    }
    .block-text55{
        margin-left: 35px;
    }
    .block-text55 h5{
        font-size: 16px;
        margin-top: 5.5px;
    }
    .block-text55 p{
        font-size: 13px;
        margin-top: 6px;
    }
    .bl-text5 p{
        font-size: 14px;
        line-height: 20px;
        margin-top: 18px;
    }    

    /*sec7*/
    .fle7{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .block-text7{
        width: 360px;
    }
    .block-text7 h1{
        font-size: 30px;
        margin-bottom: 8px;
    }
    .block-text7 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .block-img7 img{
        width: 100px;
    }
}



@media screen and (max-width: 400px){
    /*sec2*/
    #pl{
        display: none;
    }
}

@media screen and (max-width: 390px){
    .img-menu{
        width: 30px;
    }
    /*sec1*/
    .block-text{
        margin-top: 0px;
    }
    .block-text h2{
        font-size: 30px;
        line-height: 30px;
    }
    .block-text p{
        font-size: 15px;
    }
    .btn1 {
        font-size: 10px;   
        margin-top: 10px;
        padding: 4px 8px;
        width: 80px;
        height: 30px;
        margin-bottom: 10px;
    }
    .flex-txt44{
        margin-right: 10px;
    }
    .flex-txt44 h3{
        font-size: 20px;
    }
    .flex-txt44 p{
    font-size: 10px;
    }

    /*sec2*/
    .fle2{
        min-height: 150px;
        margin-top: 0px;
    }

    /*sec3*/
    .block-text3{
        padding-right: 0px;
    }
    .block-text3 h1{
        margin-top: 0px;
    }
    .block-text3 h2{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
    }
    .block-text3 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    }
    .block-text3 h3{
        font-size: 14px;
        line-height: 15px;
    }
    .btn3{
        padding: 10px 10px;
        width: 140px;
        height: 40px;
        font-size: 16px;
        line-height: 23px;
        margin-top: 20px;
    }
    .btn3:hover{
        width: 150px;
        height: 50px;
    }

    /*sec4*/
    .block-text4 h2{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .bl-text4{
        width: 250px;
        margin: 10px auto;
    }
    .bl-text4 h5{
        font-size: 14px;
        margin-right: 15px;
    }
    .bl-text4 p{
        font-size: 12px;
        line-height: 12px;
        margin-right: 10px;
    }
    .couple{
        gap: 15px;
    }
    .kart1{
        width: 120px;
        height: 130px;
    }
    .kart2{
        width: 120px;
        height: 130px;
    }
    .kart3{
        width: 120px;
        height: 130px;
    }
    .kart4{
        width: 120px;
        height: 130px;
    }
    .r{
        width: 60px;
        height: 73px;
        margin-bottom: 3px;
    }
    .fle4 p{
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 0px;
    }
    .fle4 h5{
        font-size: 12px;
        line-height: 12px;
        margin-top: 3px;
    }

    /*sec5*/
    .fle5{
        margin-top: 25px;
    }
    .fle55{
        width: 100%;
    }
    .block-text5 h1{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .block-text5 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .fle555{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .block-img55{
        width: 50px;
        height: 50px;
    }
    .block-text55{
        margin-left: 30px;
    }
    .block-text55 h5{
        font-size: 14px;
        margin-top: 5px;
    }
    .block-text55 p{
        font-size: 12px;
        margin-top: 0px;
    }
    .bl-text5 p{
        margin-top: 18px;
    }

    /*sec6*/
    .e6{
        width: 260px;
        height: 230px;
    }
    .fon{
        height: 190px;
        width: 250px;
    }
    .fle6{
        width: 230px;
        height: 190px;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .block-text6 h1{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    .block-text6 p{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
    }
    .input{
        padding: 3px 3px 3px 10px;
        min-width: 110px;
        min-height: 30px;
        font-size: 14px;
    }
    input {
        padding: 3px 3px 3px 10px;
        min-height: 30px;
        width: 100px;
    }
    input::placeholder{
        font-size: 14px;
    }

    .btn2 {
        padding: 4px 4px;
        font-size: 10px;
        width: 60px;
        height: 25px;
    }

    /*sec7*/
    .fle7{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .block-text7{
        width: 250px;
    }
    .block-text7 h1{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .block-text7 p{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 20px;
    }
    .block-img7 img{
        width: 80px;
    }

    /*sec8*/
    .fle8{
        /*width: 250px;*/
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .fle81{
        width: 250px;
    }
    .fle8 h1{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .fle81 p{
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .fle-img img{
        width: 40px;
        height: 40px;
        margin-right: 14px;
    }

}