@media screen and (max-width: 1126px) {
    #neadaptirovan{
        display: none;
    }
    #durachok{
        display: none;
    }
}



@media screen and (max-width: 1024px) {
    .navbar{
        width: 97%;
    }
    .navbar-logo{
        font-size: 20px;
        }
        .navbar-list a{
        margin-right: 30px;
        font-size: 15px;
        }
        .navbar-list a:hover{
            font-size: 20px;
        }
        .navbar-list a{
            margin-right: 50px;
            font-size: 15px;
        }

    .block-text{
        margin-top: 50px;
    }
    .block-text h2{
        font-size: 56px;
        line-height: 60px;
    }
    .btn1 {
        font-size: 16px;   
        margin-top: 30px;
        padding: 14px 20px;
        width: 140px;
        height: 50px;
        margin-bottom: 40px;
    }
    .flex-txt44{
        margin-right: 30px;
    }   

    /*sec2*/
    .fle2{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .block-text2{
        width: 600px;
        margin-right: 0px;
    }

    .fle4{
        display: flex;
        flex-direction: column;
    }

    /*sec3*/
    .fle3{
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .block-img3{
        margin-right: 60px;
    }
    #derevo{
        width: 100%;
    }
    .block-text3{
        padding-right: 40px;
    }

    /*sec5*/
    .block-img5{
        width: 45%;
        display: flex;
        align-items: center;
    }
    #mm{
        width: 100%;
    }

    /*sec6*/
    .e6{
        width: 930px;
        height: 356px;
    }
    .fon{
        height: 320px;
        width: 930px;
    }
    .img-abs{
        left: 650px;
    }

    /*sec8*/
    .fle8{
        width: 930px;
    }
    .fle81{
        margin-right: 140px;
    }
    .fle82{
        margin-right: 100px;
    }
    .fle83{
        margin-right: 100px;
    }
}


@media screen and (max-width: 768px) {
    .navbar{
        min-height: 100px;
    }
    button{
        cursor: pointer;
    padding: 8px 12px;
    font-size: 12px;
    }

    /*sec1*/
    .fle1{
        flex-direction: row;
    }
    #tvar{
        width: 300px;
        margin-top: 76px;
    }
    .block-text{
        max-width: 55%;
        margin-top: 76px;
    }
    .block-text h2{
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .btn1 {
        margin-bottom: 40px;
    }
    .block-img{
        margin-left: 20px;
    }
    .flex-44{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /*sec2*/
    .fle2{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .block-text2{
        margin-right: 0px;
    }
    .block-text2 h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .block-text2 p{
    font-size: 25px;
    margin-bottom: 20px;
    }
    .block-text2 img{
        margin-left: 15px;
    }
    .block-img2 img{
        margin-right: 7px;
        max-width: 200px;
    }

    /*sec3*/
    .fle3{ 
        justify-content: center;
        margin-bottom: 40px;
        align-items: center;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block-img3{
        display: none;
        margin-right: 0px;
        width: 0%;
    }
    .block-text3 {
        width: 83%;
    }
    .btn3{
        cursor: pointer;
        padding: 12px 22px;
        width: 140px;
        height: 50px;
        font-size: 16px;
        margin-top: 30px;
    }

    /*sec4*/
    .block-text4 h2{
        margin-bottom: 20px;
    }
    .bl-text4{
        margin: 30px auto;
    }

    /*sec5*/
    .fle5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .block-text5 p{
        margin-bottom: 30px;
    }
    .fle55{
        display: flex;
        flex-direction: column;
    }
    .fle555{
        display: flex;
        flex-direction: column;
        height: 180px;
        padding-left: 31px;
        padding-right: 27px;
        padding-top: 18px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
   
    /*section6*/
    .e6{
    width: 710px;
    }
    .fon{
    width: 710px;
    }
    .fle6{
    width: 450px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
    }
    .block-text6 p{
        margin-bottom: 20px;
    }
    .img-abs{
        top: -35px;
        left: 490px;
    }
    .input{
        padding: 6px 6px 6px 20px;
        min-width: 430px;
        min-height: 50px;
    }
    input {
        padding: 8px 8px 8px 20px;
        min-height: 50px;
    }
    .btn2 {
        padding: 10px 16px;
    }

    /*sec7*/
    .fle7{
    margin-top: 50px;
    margin-bottom: 50px;
    }

    /*sec8*/
    .fle8{
    display: flex;
    flex-direction: row;
    margin-bottom: 112px;
    justify-content: space-between;
}
.fle81{
    display: flex;
    flex-direction: column;
    width: 308px;
    margin-right: 201px;
}
.fle8 h1{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #1A1A1A;
margin-bottom: 24px;
}
.fle8 p{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */
color: #5A5A5A;
margin-bottom: 16px;
}
.fle81 p{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */
color: #5A5A5A;
margin-bottom: 22px;
}
.fle-img img{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}
.fle82{
    display: flex;
    flex-direction: column;
    width: 124px;
    margin-right: 128px;
}
.fle83{
    display: flex;
    flex-direction: column;
    width: 107px;
    margin-right: 128px;
}
.fle84{
    display: flex;
    flex-direction: column;
    width: 158px;
}
    
}



@media screen and (max-width: 425px) {
    .navbar{
        min-height: 90px;
    }
    .navbar-logo{
    font-size: 20px;
    }
    button{
    padding: 8px 12px;
    font-size: 12px;
    }

    /*sec1*/
    .fle1{
        min-height: 350px;
    }
    .block-text{
        margin-top: 10px;
        max-width: 100%;
    }
    .block-text h2{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .block-text p{
    font-size: 14px;
    line-height: 20px;
    }
    .btn1 {
        font-size: 15px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    }
    .flex-txt44{
        margin-right: 20px;
    }
    .flex-txt44 h3{
        font-size: 23px;
    }
    .flex-txt44 p{
    font-size: 15px;
    }
    
    #tvar{
        display: none;
        width: 0px;
    }
    .block-img{
        width: 0%;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    /*sec2*/
    .fle2{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .block-text2{
        width: 100%;
        margin-top: 10px;
    }
    .block-text2 h2{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .block-text2 p{
    font-size: 14px;
    }
    .block-text2 img{
        margin-left: 9px;
    }
    .block-img2 img{
        margin-right: 7px;
        max-width: 110px;
    }
    
    /*sec3*/
    .fle3{ 
        flex-direction: column;
        margin-bottom: 30px;
    }
    .block-img3{
        margin-right: 50px;
    }
    .block-text3 h1{
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 8px;
    }
    .block-text3 h2{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    }
    .block-text3 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    }
    .block-text3 h3{
        font-size: 15px;
        line-height: 20px;
    }
    .btn3{
        padding: 10px 10px;
        width: 100px;
        height: 40px;
        font-size: 14px;
        margin-top: 20px;
    }
    
    /*sec4*/
    .block-text4 h2{
    font-size: 30px;
    margin-bottom: 10px;
    }
    .bl-text4{
        display: flex;
        justify-content: center;
        width: 268px;
        margin: 10px auto;
    }
    .bl-text4 h5{
    font-size: 16px;
    margin-right: 24px;
    }
    .bl-text4 p{
    font-size: 15px;
    line-height: 18px;
    margin-right: 24px;
    }
    .kart1{
        width: 170px;
        height: 180px;
    }
    .kart2{
        width: 170px;
        height: 180px;
    }
    .kart3{
        width: 170px;
        height: 180px;
    }
    .kart4{
        width: 170px;
        height: 180px;
    }
    .r{
        width: 80px;
        height: 93px;
        margin-bottom: 3px;
    }
    .fle4 p{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .fle4 h5{
        font-size: 11px;
        margin-top: 3px;
    }
    .btn4{
        padding: 8px 10px;
        width: 110px;
        height: 40px;
        font-size: 14px;
        margin-top: 15px;
    }

    /*sec5*/
    .fle5{
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .block-text5 h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .block-text5 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .fle555{
        flex-direction: column;
        height: 130px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 7px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .block-img55{
        width: 40px;
        height: 40px;
    }
    .block-text55{
        margin-left: 8px;
    }
    .block-text55 h5{
        font-size: 16px;
        margin-top: 5.5px;
    }
    .block-text55 p{
        font-size: 13px;
        margin-top: 6px;
    }
    .bl-text5 p{
        font-size: 14px;
        line-height: 20px;
        margin-top: 18px;
    }
    .block-img5{
        margin-left: 0px;
        width: 0px;
    }
    #mm{
        display: none;
    }


    /*se—Å6*/
    .e6{
        width: 360px;
        height: 240px;
    }
    .fon{
        height: 220px;
        width: 360px;
    }
    .fle6{
        width: 320px;
        height: 240px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .block-text6 h1{
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .block-text6 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .img-abs{
        display: none;
    }
    .input{
        padding: 5px 5px 5px 15px;
        min-width: 300px;
        min-height: 40px;
        font-size: 14px;
    }
    input {
        padding: 5px 5px 5px 15px;
        min-height: 40px;
    }
    input::placeholder{
        font-size: 14px;
    }

    .btn2 {
        padding: 8px 2px;
        font-size: 12px;
        width: 70px;
        height: 40px;
    }

    /*sec7*/
    .fle7{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .block-text7{
        width: 360px;
    }
    .block-text7 h1{
        font-size: 30px;
        margin-bottom: 8px;
    }
    .block-text7 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .block-img7 img{
        width: 100px;
    }

}




@media screen and (max-width: 320px){
    .block-text{
        max-width: 100%;
    }
    .block-text h2{
        font-size: 30px;
        line-height: 30px;
    }
    .block-text p{
        font-size: 10px;
    }
    .btn1 {
        font-size: 10px;   
        margin-top: 10px;
        padding: 10px 10px;
        width: 80px;
        height: 40px;
        margin-bottom: 20px;
    }
    .flex-txt44{
        margin-right: 7px;
    }
    .flex-txt44 h3{
        font-size: 20px;
    }
    .flex-txt44 p{
    font-size: 10px;
    }
    .navbar-list a{
        margin-right: 30px;
        font-size: 10px;
    }

}